/* body {
    background-color: lightcoral;
} */

table {
    height: 50%;
    width: 80%;
    margin: 0 auto;
    

}

th, td {
    padding: 9px;
    text-align: left;
}

th {
    background-color: #659390;
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
}

table, th, td {
    border: 1px solid black;
 }


.no {
    background-color: #A6E1C2;
}

.yes {
    background-color: #CABBAD;
    
}

h2 {
    height: 80%;
    width: 80%;
    margin: 0 auto;
    font-variant: small-caps;
    color: #7B86AD;
}

.task-form {
    height: 80%;
    width: 80%;
    margin: 0 auto;
}

.date {
    margin-top: 10px;
}

.btn-primary {
    margin-top: 50px;
}

#danger {
    text-align: right;
}

#success {
    text-align: right;
}
