/* body {
    background-color: lightcoral;
} */

table {
    height: 50%;
    width: 80%;
    margin: 0 auto;
}

th, td {
    padding: 9px;
    text-align: left;
}

th {
    color: white;
    text-align: center;
    text-transform: uppercase;
    font-size: smaller;
    text-shadow: 0 4px 4px black;
    background-color: #7AAFA8;
}

table, th, td {
    border: 1px dotted white;
 }


.no {
    background-color: #B2E3E8;
}

.yes {
    background-color: #CABBAD;
    
}

h2, h3{
    height: 80%;
    width: 80%;
    margin: 0 auto;  
    font-family: 'Helvetica Neue', sans-serif; 
    /* font-size: 50px;  */
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    /* text-align: center;  */
    color: #648AB0;
    text-shadow: 0 1px 1px white;
   
}


.task-form {
    height: 80%;
    width: 80%;
    margin: 0 auto;
}

.date {
    margin-top: 10px;
}

.btn-primary {
    margin-top: 50px;
}

#danger {
    text-align: right;
}

#success {
    text-align: right;
}

h1 {
    color: #5FAF58;
}

